body {
    text-align: center;
    font-family: -apple-system, sans-serif;
    background-color:#ffb3ec;
  }
  .container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom:solid 5px greenyellow;
  }
  button {
    background: #a8328d;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 7px 15px;
    margin-left: 8px;
    cursor: pointer;
  }
  button:hover {
    background:#a83246;
  }
  button:focus {
    outline: 0;
  }
  #cards {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
  }
  .card:not(:nth-child(6n)) {
    margin-right: 20px;
  }

  .c {
    position: absolute;
    max-width: 160px;
    max-height: 160px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
  }

  .front,
  .back {
    background-size: cover;
    background-position: center;
  }

  .back {
    background-image: url("./Images/bb.jpg");
  }

  .front {
    background-image: url("./Images/breaking-bad.jpg");
  }
  span{
      font-size: small;
      color:crimson
  }